<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
  <a class="btn btn-secondary" class="navbar-brand" [routerLink]="['/home']">Home</a>
  <a class="btn btn-secondary" *ngIf="loggedIn()" class="navbar-brand" [routerLink]="['/dashboard']">Dashbaord</a>
  <a class="btn btn-secondary" *ngIf="!loggedIn()" class="navbar-brand" [routerLink]="['/login']">Login</a>
  <a class="btn btn-secondary" *ngIf="!loggedIn()" class="navbar-brand" [routerLink]="['/register']">Register</a>
  <a class="btn btn-secondary" *ngIf="loggedIn()" class="navbar-brand" ><app-logout></app-logout></a>

  </div>


</nav>
