<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="registration">
        <p *ngIf="registrationError">Username must be unique</p>
        <label>First Name: </label><input type="text" name="firstName" [(ngModel)]="newUser.firstName"/><br>
        <label>Last Name: </label><input type="text" name="lastName" [(ngModel)]="newUser.lastName"/><br>
        <label>Email Address:</label><input type="text" name="email" [(ngModel)]="newUser.email"/><br>
        <label>Username: </label><input type="text" name="username" [(ngModel)]="newUser.username"/><br>
        <label>Password: </label><input type="password" name="password" [(ngModel)]="newUser.password"/><br>
        <button class="btn btn-primary" (click)="register(newUser)" >Register</button><br>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
